@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import './Variables';

@function multiple-box-shadow ($n, $colour) {
  $value: '#{random(2000)}px #{random(2000)}px #{$colour}';

  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #{$colour}';
  }

  @return unquote($value);
}


// General
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: #464646;
  font: 400 100%/1.5 'Press Start 2P', Roboto, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
  height: 100%;
  background: radial-gradient(ellipse at bottom, $pale-yellow 2%, $blue 100%);
  overflow: hidden;
}

body {
  margin: 0;
}

main {
  position: relative;
  padding: 0.5em;
}

a {
  color: inherit;
}

.container {
  max-width: 80em;
  margin: 0 auto;
}


// Game background
$star-colour : lighten($yellow, 30%);
$shadows-small : multiple-box-shadow(700, $star-colour);
$shadows-medium : multiple-box-shadow(200, $star-colour);
$shadows-big : multiple-box-shadow(100, $star-colour);

%stars-base {
  background: transparent;

  &:after {
    content: " ";
    position: absolute;
    background: transparent;
  }
}

.stars {
  @extend %stars-base;
  width: 1px;
  height: 1px;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
    
  &:after {
    top: 2000px;
    width: 1px;
    height: 1px;
    box-shadow: $shadows-small;
  }
}
    
.stars2 {
  @extend %stars-base;
  width: 2px;
  height: 2px;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
    
  &:after {
    top: 2000px;
    width: 2px;
    height: 2px;
    box-shadow: $shadows-medium;
  }
}
    
.stars3 {
  @extend %stars-base;
  width: 3px;
  height: 3px;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
    
  &:after {
    top: 2000px;
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  0% {
    transform: translateY(0px);
  }	
  100% {
    transform: translateY(-2000px);
  } 
}