@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Open+Sans');
@import 'Variables';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: #464646;
  font: 400 100%/1.5 'Open Sans', Roboto, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
}

body {
  margin: 0;
  background-color: $pale-yellow;
}

main {
  padding: 0.5em;
}

a {
  color: inherit;
}

.container {
  max-width: 80em;
  margin: 0 auto;
}
