@import '../App/Variables';

%ui-button {
    background: radial-gradient(ellipse, $red 0%, $red 100%);
    font: 400 1.125em/1.5 'Press Start 2P', Roboto, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    color: $yellow;
    padding: 16px 20px;
    line-height: 1;
    border-radius: 12px;
    text-transform: uppercase;
    transition: 0.25s;
    outline: 0;

    &:hover {
        background: radial-gradient(ellipse, lighten($red, 5%) 0%, $red 100%);
        color: lighten($yellow, 6%);
        text-shadow: 0px 0px 1px lighten($yellow, 8%), 0px 0px 1px lighten($yellow, 4%);
    }

    &:active {
        transform: translateY(2px);
        background: radial-gradient(ellipse, lighten($red, 4%) 0%, $red 100%);
        color: lighten($yellow, 4%);
        text-shadow: 0px 0px 1px lighten($yellow, 4%), 0px 0px 1px lighten($yellow, 2%);
        outline: 0;
        transition: 0s;
    }
}

.homeMain {
    text-align: center;
    padding-top: 5em;
}

.newGame {
    @extend %ui-button;
}