@import '../App/Variables';

%ui-button {
    background: $red;
}

main {
    text-align: center;
    padding-top: 5em;
}

.newGame {
    @extend %ui-button;
    color: $yellow;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}