@import '../App/Variables';
@import '../App/Placeholders';

.homeMain {
    text-align: center;
    padding-top: 5em;
}

.gameContainer {
    @extend %gameContainer;
    max-width: 400px;
}

.newGame {
    @extend %ui-button;
}